@model IEnumerable<WebApiConsume.Models.ProductModel>

<div class="row">
    <h2 class="col-7">Products List</h2>
</div>
<hr />
<a class="btn btn-info" asp-controller="Product" asp-action="ProductGet">Add Product</a>
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Code</th>
            <th>Description</th>
            <th>User ID</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td style="text-align:end;padding-right:60px">
                        @product.ProductPrice
                    </td>
                    <td>@product.ProductCode</td>
                    <td>@product.Description</td>
                    <td>@product.UserID</td>
                    <td>
                        <a asp-controller="Product" asp-action="AddEditProduct" asp-route-id="@product.ProductID">
                            <button type="submit" class="btn btn-warning">
                                Edit
                            </button>
                        </a>
                    </td>
                    <td>
                        <form method="post" asp-controller="Product" asp-action="ProductDelete">
                            <input type="hidden" name="ProductID" value="@product.ProductID" />
                            <button onclick=" return confirm('Sure!! Are you want to delete @product.ProductName')" type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
