@using WebApiConsume.Helper
@model IEnumerable<WebApiConsume.Models.StateModel>

<div class="row">

    <h2 class="col-7">State List</h2>
    @{
        if (@TempData["Notification"] != null)
        {
            <p id="myElement" class="col text-danger bg-danger-subtle p-2 rounded">@TempData["Notification"]</p>
        }
        if (@TempData["Message"] != null)
        {
            <p id="myElement" class="col text-warning bg-warning-subtle p-2 rounded">@TempData["Message"]</p>
        }
    }
</div>
<hr />
<a class="btn btn-info" asp-controller="State" asp-action="AddEditState">Add State</a>
<table class="table">
    <thead>
        <tr>
            <th>State ID</th>
            <th>State Name</th>
            <th>State Code</th>
            <th>Country Name</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var city in Model)
            {
                <tr>
                    <td>@city.StateID</td>
                    <td>
                        <a asp-controller="City" asp-action="CityList" asp-route-id="@city.StateID">@city.StateName (@city.CityCount)</a>
                    </td>
                    <td>@city.StateCode </td>
                    <td>@city.CountryName</td>
                    <td>
                        <a asp-controller="State" asp-action="AddEditState" asp-route-id="@UrlEncryptor.Encrypt(city.StateID.ToString())">
                            <button type="submit" class="btn btn-warning">
                                Edit
                            </button>
                        </a>
                    </td>
                    <td>
                        <form method="post" asp-controller="State" asp-action="StateDelete">
                            <input type="hidden" name="StateID" value="@UrlEncryptor.Encrypt(city.StateID.ToString())" />
                            <button onclick=" return confirm('Sure!! Are you want to delete @city.StateName')" type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    var element = document.getElementById("myElement");

    element.style.display = "block";

    setTimeout(() => {
        element.style.display = "none";
    }, 3500);
</script>