@model WebApiConsume.Models.CityModel

<div class="row">

    <h1 class="col-7">@((Model?.CityID > 0) ? "Edit" : "Add") City</h1>
    @{
        if (@TempData["Message"] != null)
        {
            <p id="myElement" class="col text-success bg-success-subtle p-2 rounded">@TempData["Message"]</p>
        }
    }
</div>
<form asp-controller="City" asp-action="SaveCity" method="post" onreset="ResetForm()">
    @Html.HiddenFor(m => m.CityID)
    <div class="form-group row my-2">
        <label class="col-2" asp-for="CityName">City Name<span class="text-danger">*</span></label>
        <input asp-for="CityName" class="form-control col" />
        <span asp-validation-for="CityName" class="text-danger"></span>
    </div>
       <div class="form-group row my-2">
          <label class="col-2" asp-for="CountryID">Country Name<span class="text-danger">*</span></label>
          <select class="form-control col" id="CountryID" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList, "CountryID", "CountryName"))">
              <option value="" selected disabled>Select Country</option>
          </select>
          <span asp-validation-for="CountryID" class="text-danger"></span>
      </div>
      <div class="form-group row my-2">
          <label class="col-2" asp-for="StateID">State Name<span class="text-danger">*</span></label>

        <select id="StateID"
                name="StateID"
                class="form-control col"
                asp-for="StateID">
            <option value="">Please select Country</option>
            @if (ViewBag.StateList != null)
            {
                foreach (var state in
                ViewBag.StateList)
                {
                    if (state.StateID == Model.StateID)
                    {
                        <option value="@state.StateID">@state.StateName</option>
                    }
                    else
                    {
                        <option value="@state.StateID">@state.StateName</option>
                    }
                }
            }
        </select>
          <span asp-validation-for="StateID" class="text-danger"></span>
      </div>
      <div class="form-group row my-2">
          <label class="col-2" asp-for="DistrictID">District Name<span class="text-danger">*</span></label>
           <select id="DistrictID"
                     name="DistrictID"
                     class="form-control col"
                     asp-for="DistrictID">
                 <option value="">Please select State</option>
                 @if (ViewBag.DistrictList != null)
                 {
                     foreach (var district in ViewBag.DistrictList)
                     {
                         if (district.DistrictID == Model.DistrictID)
                         {
                             <option value="@district.DistrictID">@district.DistrictName</option>
                         }
                         else
                         {
                             <option value="@district.DistrictID">@district.DistrictName</option>
                         }
                     }
                 }
             </select>
          <span asp-validation-for="DistrictID" class="text-danger"></span>
      </div> 
      
    <div class="form-group row my-2">
        <label class="col-2" asp-for="TalukaID">Taluka Name<span class="text-danger">*</span></label>
          <select id="TalukaID"
                     name="TalukaID"
                     class="form-control col"
                     asp-for="TalukaID">
                 <option value="">Please select District</option>
                 @if (ViewBag.TalukaList != null)
                 {
                     foreach (var taluka in ViewBag.TalukaList)
                     {
                         if (taluka.TalukaID == Model.TalukaID)
                         {
                             <option value="@taluka.TalukaID">@taluka.TalukaName</option>
                         }
                         else
                         {
                             <option value="@taluka.TalukaID">@taluka.TalukaName</option>
                         }
                     }
                 }
             </select>

        <span asp-validation-for="TalukaID" class="text-danger"></span>
    </div> 

    <div style="margin-left:190px">
        <button type="submit" class=" btn @((Model?.CityID > 0) ?  "btn-warning" :  "btn-primary")">@((Model?.CityID > 0) ? "Edit" : "Add")</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
        <a class="btn btn-success" asp-controller="City" asp-action="CityList">Back</a>
    </div>
</form>

<script>
    var element = document.getElementById("myElement");

    element.style.display = "block";

    setTimeout(() => {
        element.style.display = "none";
    }, 3500);
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#CountryID").change(function () {
                var countryId = $(this).val();
                if (countryId) {
                    $.ajax({
                        url: '@Url.Action("GetStatesByCountry", "City")',
                        type: "POST", // Changed to POST
                        data: { CountryID: countryId }, // Use 'CountryID' to match controller
                        success: function (data) {
                            $("#StateID").empty().append('<option value="" selected disabled>Select State</option>');
                            $("#DistrictID").empty().append('<option value="" selected disabled>Please select State</option>');
                            $("#TalukaID").empty().append('<option value="" selected disabled>Please select District</option>');
                            $.each(data, function (i, state) {
                                $("#StateID").append('<option value="' +state.stateID +'">' +state.stateName +"</option>");
                            });
                            console.log(state.stateID);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        },
                    });
                } else {
                    $("#StateID").empty().append('<option value=""  selected disabled>Select State</option>');
                }
            });

             $("#StateID").change(function () {
                var stateId = $(this).val();
                if (stateId) {
                    $.ajax({
                        url: '@Url.Action("GetDistrictsByState", "City")',
                        type: "POST", // Changed to POST
                        data: { StateID: stateId }, // Use 'StateID' to match controller
                        success: function (data) {
                            $("#DistrictID").empty().append('<option value=""  selected disabled>Select District</option>');
                            $("#TalukaID").empty().append('<option value="" selected disabled>Please select District</option>');
                            $.each(data, function (i, district) {
                                $("#DistrictID").append('<option value="' +district.districtID + '">' +district.districtName +"</option>");
                            });
                            console.log(state.stateID);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        },
                    });
                } else {
                    $("#DistrictID").empty().append('<option value=""  selected disabled>Select District</option>');
                }
            });

             $("#DistrictID").change(function () {
                var districtId = $(this).val();
                if (districtId) {
                    $.ajax({
                        url: '@Url.Action("GetTalukasByDistrict", "City")',
                        type: "POST", // Changed to POST
                        data: { DistrictID: districtId }, // Use 'DistrictID' to match controller
                        success: function (data) {
                            $("#TalukaID").empty().append('<option value=""  selected disabled>Select Taluka</option>');
                            $.each(data, function (i, taluka) {
                                $("#TalukaID").append('<option value="' + taluka.talukaID +'">' + taluka.talukaName +"</option>" );
                            });
                            console.log(state.stateID);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        },
                    });
                } else {
                    $("#TalukaID").empty().append('<option value=""  selected disabled>Select Taluka</option>');
                }
            });
        });

        function ResetForm() {
             $("#StateID").empty().append('<option value=""  selected disabled>Please select Country</option>');
             $("#DistrictID").empty().append('<option value=""  selected disabled>Please select State</option>');
             $("#TalukaID").empty().append('<option value=""  selected disabled>Please select District</option>');
        }
    </script>
}